java/exported datapack/
java/src/main/resources/100000.json
java/src/main/resources/50000.json
java/src/main/resources/big.json
java/deployment/
java/run.bat
java/releases/
java/src/main/resources/long_name.json
